#footer{	
	text-align:left;

	div.footer-content{
		padding:50px 0;
		background-color:#f5f5f5;

		div.main{
			div.produtos{
				ul{
					float:left;
					width: 33.3%;
				}
			}

			ul{
				padding:0;
				margin: 0;
				list-style-type: none;
			}

			.redes_sociais_bot{
				height:38px;
				text-align: left;
				list-style:none;
				width: 300px;
				padding:0;
			}

			.redes_sociais_bot li:hover{
			    opacity: 0.6;
			    filter: alpha(opacity=60); /* For IE8 and earlier */
			}

			.redes_sociais_bot a{
				display: inline-block;
				width:38px;
				height:38px
			}

			.redes_sociais_bot .youtube{
				background-image: url("images/footer-redes.png");
				background-position: left,center;
				background-repeat:no-repeat;
				width:38px;
				height:38px;
				display:inline-block;		
			}

			.redes_sociais_bot .instagram{
				background-image: url("images/footer-redes.png");
				background-position: -43px,center;
				background-repeat:no-repeat;
				width:38px;
				height:38px;
				display:inline-block;		
			}

			.redes_sociais_bot .twitter{
				background-image: url("images/footer-redes.png");
				background-position: -87px,center;
				background-repeat:no-repeat;
				width:38px;
				height:38px;
				display:inline-block;		
			}

			.redes_sociais_bot .facebook{
				background-image: url("images/footer-redes.png");
				background-position: right,center;
				background-repeat:no-repeat;
				width:38px;
				height:38px;
				display:inline-block;		
			}
		}

		div.outros{
			border-top:1px solid #c4c4c4;
			margin-top: 25px;
			padding-top:25px;

			img{
				margin-right: 50px;
			}
		}
	}

	div.copyrino{
		text-align: center;
		color: white;
		background-color:#005176;
		padding:20px 0;
		.col-md-10{
			padding:12px;
			a{
				color: white;
			}
			a:hover{
				color:#bfbfbf;
			}
		}
	}
}


@media (max-width: 991px) {  

}

@media (min-width: 992px) {  
  
}